// Make sure the charset is set appropriately
@charset "UTF-8";

@import "compass/css3/box-shadow";

#cover_img_container {
	background-color: #eee;
	// background-image:url('../../oneplus_ui_2/03. +CSS/img/circle_cover.jpg');

}

#circle_profile {
	.circle_logo {
		position: relative;
		top: -30px;
		width: 150px;
		height: 150px;
		@include box-shadow (2px 2px 6px #aaa);
	}

	.circle_descr {
		font-size: 12px;
	}
}

.discussion_topic {
		// font-style: italic;
	}

// news feed
li.news {
	font-size: 14px;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
	.news_title {
		line-height: 1.4;
		margin-bottom: 10px;
	}

	.user_rep, .deposit {
		margin-right: 10px;
	}

	.feedback_rating {
		margin: 0 5px;
	}
	.comment {
		position: relative;
		font-size: 12px;
		width: 500px;
		padding-right: 60px;
		margin-bottom: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.show_all_comment {
		position: absolute;
		right: 5px;
	}

	.show_less_comment {
		display: none;
	}

	.item_img {
		width: 40px;
		height: 40px;
	}

}

// discussion
#discussion_guidelines {
	font-size: 12px;
}

#topic_list {
	border-top: 1px solid #ddd;
}

li.topic {
	font-size: 14px;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}

.topic_detail_section {

	.topic_list_enter {
		font-size: 14px;
		i.foundicon-left-arrow {
			vertical-align: middle;
		}
	}

	.flat_but {
		margin: 0 5px;
	}

	.topic_unsubscribe {
		display: none;
	}

	.comment_list {
		// border-top: 1px solid #ddd;
	}

	.initial_post {
		font-size: 14px;
		line-height: 1.6;
		margin: 0 -30px;
	}

	li.post, li.deleted_post {
		font-size: 14px;
		padding: 15px 0;
		border-bottom: 1px solid #eee;

		.flat_but:first-of-type {
			margin-left: -4px;
		}
	}

	.comment {
		font-size: 12px;
		margin-bottom: 0;
	}

}

#others_wish_container {
	margin-top: 52px;
}

