// Make sure the charset is set appropriately
@charset "UTF-8";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

// We need just the mixins and variables.
$include-html-global-classes: false;
@import "foundation/components/global";
$include-html-alert-classes: false;
@import "foundation/components/alert-boxes";
$include-html-reveal-classes: false;
@import "foundation/components/reveal";
$include-html-top-bar-classes: false;
@import "foundation/components/top-bar";

@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";


//
// Funsha Variables
//
$include-html-funsha-classes: true !default;

//
// Funsha Mixins
//
@mixin notice-box($bg, $radius) {
  @include alert($bg, $radius);
  top: 200px;
  left: 50%;
  position: fixed;
  z-index: 100;
  padding: 10px;
  margin-left: -260px;
  width: 520px;
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.4));
  opacity: 0;
  visibility: hidden;

  &.fade {
    @include transition(opacity 0.3s ease, visibility 0.3s ease);
  }

  &.fade.in {
    opacity: 1;
    visibility: visible;
  }

  i {
    font-size: 2em;
    margin-right: 20px;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }

  .close { @include alert-close; }
}

@mixin mod-reveal-bg {
  @include reveal-bg;
  display: block;

  &.fade {
    opacity: 0;
  }

  &, &.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
}

@if $include-html-funsha-classes != false {
    /* Modified Foundation 4 Reveal classes
     *
     * Use Foundation 4 default as base and mix in some Bootstrap classe names,
     * in order to make the Reveal classes compatible with AngularUI Bootstrap's
     * `$modal` service.
     *
     * To avoid conflicts, the default Reveal classes are disabled from being generated.
     * As a result of that, some code is exactly copied from the Foundation source (labeled below).
     */

     //to prevent screen jumping when scroll bar appear/disapear
     html {overflow-y: scroll;}

     // define variables
     $color_med_gray: #6f6f6f;

     .reveal-modal-bg {
      @include mod-reveal-bg;

      display: none;
    }

    .reveal-modal {
      @include reveal-modal-base;
      visibility: visible;
      display: block;

      @include reveal-modal-style;

      &.fade {
        opacity: 0;
        @include transition(opacity 0.3s linear);
      }

      &.fade.in {
        opacity: 1;
      }

      display: none;
    }

    // Large Screen Styles. (The exact copy from the source)
    @media #{$small} {
      .#{$reveal-modal-class} {
        @include reveal-modal-style(false, emCalc(30), false, $box-shadow: false, $top-offset: emCalc(100));

        &.tiny  { @include reveal-modal-base(false, 30%); }
        &.small { @include reveal-modal-base(false, 40%); }
        &.medium  { @include reveal-modal-base(false, 60%); }
        &.large { @include reveal-modal-base(false, 70%); }
        &.xlarge { @include reveal-modal-base(false, 95%); }

        // Fixed-width sizes for Reveal
        &.fixed_width_small { @include reveal-modal-base(false, 520px); }
        &.fixed_width_medium { @include reveal-modal-base(false, 680px); }
      }
    }

    // Reveal Print Styles. (The exact copy from the source)
    @media print {
      .#{$reveal-modal-class} {background: #fff !important;}
    }

    span.hint, p.hint, ul.hint {
      color: $color_med_gray;
      font-size: 12px;
    }

    #page_header {
      margin-bottom: 20px;
      background-color: #F7F6F0;
      border-radius: 0 0 10px 10px;
    }

    .btn_section {
      text-align: right;
    }

    /* Supplementary to AngularJS */

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }

    // Taken from Bootstrap to supplement the `collapse` directive
    .ng_ui_collapse {
      position: relative;
      height: 0;
      overflow: hidden;
      @include transition(height 0.35s ease);
    }


    /* Top navigation bar */

    /*
    a#user_dropdown_toggle {
        padding-right: $topbar-height / 3 !important;   // overrides Foundation's default for .has-dropdown > a

        &:after {
            content: none;  // clears Foundation's default triangle for dropdown
          }

          & > span {
            margin-right: 10px;
          }
        }

        */

        input#quick_search {
          width: 145px;
          @include transition(width 0.1s ease);
        }




        /* Alert boxes (success action notice and top alert box) */

        .notice-box-bg {
          @include mod-reveal-bg;
        }

        .alert_notice {
          @include notice-box($alert-color, $alert-radius);
        }

        .succ_notice {
          @include notice-box($success-color, $alert-radius);
        }

        .dialog_alert_notice {
          @include alert($alert-color);

          i {
            font-size: 1.2em;
            margin-right: 5px;
            vertical-align: middle;
          }

          span {
            vertical-align: middle;
          }
        }


        /* Input tooltip (ex. pwd strength) */

        .input_tooltip {
          position: absolute;
          top: -15px;
          left: 101%;
          width: 320px;
          padding: 10px;
          background: #fefefe;
          border-radius: 2px;
          box-shadow: 0 0 5px #aaa;
          border: 1px solid #ddd;
          z-index: 40;

          ul {
            list-style-position: inside;
          }

          .left_arrow {
            position:absolute;
            top:25px;
            left:-10px;
            width: 10px;
            height: 10px;
          }

          .pwd_fragile {
            color: #c60f13;
          }

          .pwd_weak {
            color: #F7931E;
          }

          .pwd_fair {
            color: #B3C2C9;
          }

          .pwd_good {
            color: #B6CC36;
          }

          .pwd_strong {
            color: #5da423;
          }
        }

        .trailing_colon:after {
          content: ": "
        }


    // from patrick's general.css

    /*header nav and footer - starts*/
    nav.top-bar {

      #header_logo {
        font-size: 18px;
      }

      #header_logo img {
        height:32px;
      }

      // ul > li.has-dropdown a {
      //   padding-right: 15px;

      //   &::after {
      //     content: none;
      //   }
      // }

      .foundicon-settings {
        font-size: 14px;
        line-height: 1;
        vertical-align: middle;
        margin-left: 10px;
      }

    }

    #login_section {
      @include box-shadow(0 3px 5px #000);
      @include border-radius(5px);
      border: solid 2px #6b5c4a;
      color: #fff;
      background-color: #222;
      width: 540px;
      padding: 0 20px;

      label {
        padding-left: 0;
        color: #fff;

        &[for="keep_login"] {
          display: inline-block;
          padding-left: 10px;
        }
      }

      a {
        padding-left: 0;
        background-color: #222;
        font-size: 0.8em;
      }

      #keep_login {
        display: inline-block;
      }

      #login_submit {
        margin-top: 25px;
      }

      .general_error_notice  {

        border-top: 1px solid red;
        margin-bottom: 10px;

        .foundicon-remove {
          color: red;
          font-size: 1.8em;
          margin-right: 10px;
          vertical-align: middle;
          position: absolute;
        }
        .error_list {
          list-style-type: square;
          display: inline-block;
          margin: 10px 0 0 60px;
          li {
            background-color: #222;
          }
        }
      }
    }



    footer {
      margin-bottom: 20px;
    }

    // layout styles
    ul {
      list-style-type: none;
    }

    .self_clear {
      display: block;

      &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }

    #page_title {
      i {
        margin: 0 10px;
        vertical-align: middle;
      }
    }

    .clickable_list_item {
      border: 1px solid #ddd;
      @include border-radius(4px);
      padding: 10px 5px;
      margin: 2px 0;

      &:hover {
        border: 1px solid #aaa;
        @include box-shadow(2px 2px 6px #bbb);
        cursor: pointer;
      }
    }

    .black_trans_bg {
      background-color: #222;
      opacity: 0.8;
    }

    /*reputation icon*/
    .item_rep, .user_rep {
      $rep_ht: 18px;

      display: inline-block;
      position: relative;
      margin-left: 5px;
      padding: 0;
      height: $rep_ht;
      @include border-radius (2px);
      @include box-shadow (2px 2px 2px #eee);
      background-color: #F7F6F0;
      border: 1px solid #ccc;
      line-height: 1;

      .like_percent_container {
        font-size: 12px;
        font-weight: bold;
        color: #555;
        margin: 0 0 0 -5px;
      }

      .icon_item, .icon_head, .icon_thumb {
        height: $rep_ht;
        position: relative;
        top: -1px;
      }

      .icon_item, .icon_head {
        left: -6px;
      }

    }

    .total_count {
      display: inline-block;
      font-size: 14px;
      line-height: 1.1;
      color: #fff;
      background-color: #999;
      @include border-radius (2px);
      padding: 2px 4px;
      margin-left: 10px;
      min-width: 24px;
      text-align: center;
    }

    .title .total_count {

    }

    section:not(.active) .title .total_count {
      color: $color_med_gray;
      background-color: #fff;
    }

    .hint {
      color: $color_med_gray;
      font-size: 12px;
    }

    // image and names
    .circle_name,
    .item_name,
    .borrower_name,
    .lender_name,
    .owner_name,
    .user_name,
    .admin_name,
    .member_name,
    .author_name,
    .discussion_topic {
      font-weight: bold;
    }

    .time_stamp {
      color: $color_med_gray;
      margin-left: 10px;
      font-size: 11px;
      display: inline-block;
    }

    .borrower_img,
    .lender_img,
    .owner_img,
    .member_img,
    .author_img,
    .owner_img
    {
      border: 1px solid #ccc;
      width: 42px;
      height: 42px;
      @include border-radius (42px);
    }

    img.multi_user_img {
      position: relative;
      z-index: 10;

      &+div, &+div+div {
        position:absolute;
        top: 0;
        width: 42px;
        height: 42px;
        border: 1px solid #ccc;
        @include border-radius (21px);
        background-color: #fff;
      }

      &+div {
        z-index: 9;
        right: 10px;
      }

      &+div+div {
        z-index: 8;
        right: 6px;
      }
    }

    // input Style

    textarea {
      margin: 0 0 1em 0;
    }

    // note: was named ".response_enter"
    .flat_btn {
      font-size: 12px;
      font-weight: bold;
      color: #777;
      padding: 2px 4px;
      margin-left: -4px;
      @include border-radius(2px);

      &:hover,  {
        color: #222;
        cursor: pointer;
        background: #ddd;
      }
    }

    .flat_btn_hover {
      color: #222;
      cursor: pointer;
      background: #eee;
    }

    // confirmation button group
    //use following along with small buttons
    .button-group.confirm.small {
      display: inline-block;
      @include box-shadow(2px 2px 5px #ddd);

      li {
        a {
          min-width: 60px;
        }

        &:first-child {
        font-size: 12px;
        font-weight: bold;
        height: 26px;
        padding: 2px 30px;
        background-color: #FFD261;
        border-top: 1px solid #c3c3c3;
        border-left: 1px solid #c3c3c3;
        border-bottom: 1px solid #c3c3c3;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        }
      }
    }

    //link with black color and underline
    .black_link {
      color: #222;
      text-decoration: underline;
    }

    //link_bar: group of links
    ul.link_bar {
      display: inline-block;

      li {
        float: left;

        &:not(:last-of-type):after {
          content: "|";
        }

        a {
          margin: 0 8px;
        }
      }
    }

    //disabled link
    a.disabled {
      color: #ccc;
      background-color: none;
      &:hover {
        cursor: default;
      }
    }

    // icon and notice
    .rental_fee_variation {
      color: #999;
      background-color: #fff;
      border: 1px solid #ccc;
      @include border-radius(25px);
      padding: 0 2px;
      margin-left: 5px;
      font-size: 0.8em;

      i {
        vertical-align: middle;
      }
    }

    .list_loading_notice {
      background-color: #eee;
      height: 30px;
      padding: 5px 0;
      img {
        width: 20px;
        margin-left: 15px;
      }

    }

  }



// From general.css -----------------------------------------------------------------------------------


/*supplementary to foundation css - starts*/
// h1, h2, h3, h4, h5, h6 {
//   margin-top: 10px;
//   margin-bottom: 5px;
// }

// hr {
//     margin: 15px 0 14px;
// }



// ul li ul, ul li ol {
//     margin-left: 0;
// }

// .tabs dt {
//     text-transform: none;
// }

// .reveal-modal .close-reveal-modal {
//     top: 0px;
//     right: -5px;
//     color: #555;
//     text-shadow: none;
// }
/*supplementary to foundation css - ends*/







  .test_element {
    padding: 0 10px;
  }
  /*header nav and footer - ends*/

  /*main page general error - starts*/
  // #main_error_container {
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  //   z-index: 2;
  //   width: 100%;
  //   padding: 10px;
  //   background: #C60F13;
  //   color: #fff;
  //   font-weight: bold;
  // }


  // .general_error_notice .foundicon-remove {
  //   font-size: 2em;
  //   margin-right: 10px;
  //   vertical-align: middle;
  // }

  // .general_error_notice div.general_error {
  //   margin-top: 5px;
  // }

  // .general_error_notice .error_list {
  //   margin: 0 0 0 70px;
  // }

  #main_error_spacer {
    width: 100%;
    /* use JS to get the height of the "main_serv_error_container" and set it as the height of "main_serv_error_spacer" **/
    height: 61px;
  }
  /*main page general error - ends*/

  #page_header {
    margin-bottom: 20px;
    background-color: #F7F6F0;
    border-radius: 0 0 10px 10px;
  }

  #loading_notice {
    background: #fff;
    opacity: 0.9;
    display: none;
    top: 200px;
    left: 50%;
    position: fixed;
    z-index: 42;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-left: -60px;
    width: 120px;
    text-align: center;
  }

  #succ_action_notice {
    display: none;
    top: 200px;
    left: 50%;
    position: fixed;
    z-index: 41;
    padding: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-left: -260px;
    width: 520px;
  }

  #succ_action_notice .foundicon-checkmark {
    font-size: 2em;
    margin-right: 20px;
    vertical-align: middle;
  }

  .icon_explain {
    background-color: #fff;
    border-radius: 10px;
    padding: 0px 4px 0 3px;
    font-size: 9px;
    color: #666;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    vertical-align: middle;

  }

  /*supplementary to foundation reveal box width - starts*/
  .reveal-modal.medium_fix {
    margin-left: -340px;
    width: 680px;
  }

  .reveal-modal.large_fix {
    margin-left: -495px;
    width: 990px;
  }

  .reveal-modal.xlarge_fix {
    margin-left: -580px;
    width: 1160px;
  }

  .reveal-modal.expand_fix {
    margin-left: -750px;
    width: 1500px;
  }

  @media only screen and (max-width: 767px) {
    .reveal-modal.medium_fix, .reveal-modal.large_fix, .reveal-modal.xlarge_fix, .reveal-modal.expand_fix {
      width: 80%;
      top: 15px;
      left: 50%;
      margin-left: -40%;
      padding: 20px;
      height: auto;
    }
  }

  .button.tiny {
    font-size: 10px;
    padding: 3px 8px 4px;
  }

  /*supplementary to foundation reveal box width - ends*/



  .btn_section {
    text-align: right;
  }

  .input_tooltip {
    position:absolute;
    top:-15px;
    left:101%;
    width:320px;
    padding:10px;
    background:#fefefe;
    border-radius:2px;
    box-shadow:0 0 5px #aaa;
    border:1px solid #ddd;
    z-index: 40;
  }

  .tooltip_left_arrow {
    position:absolute;
    top:25px;
    left:-10px;
    width: 10px;
    height: 10px;

  }

  /*.rating .dislike,*/
  .pwd_weak {
    color: #c60f13;
  }

  .pwd_good {
    color: #CCCC33;
  }

  .pwd_strong {
    color: #5da423;
  }

  .feedback_rating {
    font-size: 9px;
    color: #fff;
    padding:1px 3px;
    margin-left: 10px;
    font-weight: bold;
  }

  .feedback_rating.dislike {
    background-color: #D38D8D;
  }

  .feedback_rating.neutral {
    background-color: #ccc;
  }

  .feedback_rating.like {
    background-color: #ACC985;
  }

  textarea {
    resize: vertical;
  }

  button .gen-enclosed, button .general, button .access {
    vertical-align: middle;
    line-height: 0;
    display: inline-block;
  }

  /*review section - starts*/

  .feedback .title {
    font-size: 13px;
    color: #666;
    font-weight: bold;
  }

  .feedback_response .title .owner_name, .response_input_container .title {
    color: #222;
  }

  .feedback.row, .feedback_response.row, .response_input_container.row {
    min-height: 75px;
    margin-top: 25px;
    padding-bottom: 5px;
  }

  .feedback_comment, .response_form {
    margin: 8px 0 0;
    line-height: 1.3;
    font-size: 12px;
  }

  .page_btn_container {
    margin: 20px 0;
  }
  /*review section - ends*/

  .custom_checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #555;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;

  }

  .custom_checkbox .checkbox_check, .custom_checkbox .checkbox_half {
    width: 12px;
    height: 12px;
    margin: 1px 0 0 1px;
    display: block;
  }

  /*other's wish item - starts*/
  .wish_entry.row {
    border-top: 1px dotted #ccc;
    padding: 10px 0;
  }

  .wish_entry .user_name {
    font-size: 12px;
  }

  .owner_img_container {
    padding: 0;
    text-align: right;
  }

  .wish_name_container {
    display: inline-block;
    margin: 10px 0 5px;
  }

  .wish_name_container:hover {
    cursor: pointer;
  }

  .wish_name {
    font-weight: bold;
    margin-right: 10px;
  }

  .share_enter {
    font-weight: bold;
    color: #777;
    font-size: 12px;
  }

  .share_enter:hover, .share_enter_hover {
    color: #ED1E79;
  }

  .share_enter:hover {
    text-decoration: underline;
  }

  #others_wish_container {
    background: #f2f2f2;
    border: solid 1px #e6e6e6;
    margin: 0 0 22px 0;
    padding: 20px;
  }

  #others_wish_container .owner_img {
    border: 1px solid #ccc;
    width: 42px;
    height: 42px;
    border-radius: 21px;
  }

  #others_wish_container .owner_name {
    font-size: 12px;

  }

  #others_wish_container .owner_name+span {
    font-size: 12px;
    color: #6f6f6f;
    margin-left: 10px;
  }

  .wish_descr {
    line-height: 1.3;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .expand_icon, .collapse_icon {
    display: inline-block;
    border: 1px solid #ccc;
    width: 12px;
    height: 12px;
    text-align: center;
    font-size: 12px;
  }
  /*other's wish item - ends*/
  .count {
    color: #6f6f6f;
    font-weight: normal;
  }

  .box {
    background: #fff;
    border: solid 1px #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 15px;
  }

  .border_left {
    border-left: solid 1px #ddd;
  }

  .border_right {
    border-right: solid 1px #ddd;
  }

  .border_top {
    border-top: solid 1px #ddd;
  }

  .border_bottom {
    border-bottom: solid 1px #ddd;
  }

  .small_text {
    font-size: 12px;
  }

  .large_text {
    font-size: 16px;
  }




  .empty_notice {
    color: #6f6f6f;
    background-color: #eee;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    line-height: 1.3;
  }

  .notice {
    color: #6f6f6f;
    font-size: 12px;
  }

  .tip {
    color: #6f6f6f;
    font-size: 12px;
    font-style: italic;
    /*border: 2px solid #E8E6A0;*/
    background-color: #F7F6F0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 15px;
    line-height: 1.3;
    display: inline-block;
  }

  .arrow_up_small, .arrow_up_medium, .arrow_up_large, .arrow_down_small, .arrow_down_medium, .arrow_down_large,
  .arrow_left_small, .arrow_left_medium, .arrow_left_large, .arrow_right_small, .arrow_right_medium, .arrow_right_large {
    width: 0;
    height: 0;
    display: inline-block;
  }

  .arrow_up_small, .arrow_down_small {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }

  .arrow_left_small, .arrow_right_small {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }

  .arrow_up_medium, .arrow_down_medium {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }

  .arrow_left_medium, .arrow_right_medium {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }

  .arrow_up_large, .arrow_down_large {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .arrow_left_large, .arrow_right_large {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .arrow_up_small {
    border-bottom: 6px solid #6f6f6f;
  }

  .arrow_down_small {
    border-top: 6px solid #6f6f6f;
  }

  .arrow_left_small {
    border-right: 6px solid #6f6f6f;
  }

  .arrow_right_small {
    border-left: 6px solid #6f6f6f;
  }

  .arrow_up_medium {
    border-bottom: 13px solid #6f6f6f;
  }

  .arrow_down_medium {
    border-top: 13px solid #6f6f6f;
  }

  .arrow_left_medium {
    border-right: 13px solid #6f6f6f;
  }

  .arrow_right_medium {
    border-left: 13px solid #6f6f6f;
  }

  .arrow_up_large {
    border-bottom: 18px solid #6f6f6f;
  }

  .arrow_down_large {
    border-top: 18px solid #6f6f6f;
  }

  .arrow_left_large {
    border-right: 18px solid #6f6f6f;
  }

  .arrow_right_large {
    border-left: 18px solid #6f6f6f;
  }


