// Make sure the charset is set appropriately
@charset "UTF-8";

@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

img.do_more_img {
	width: 1000px;
}

#do_more_container {
	position: relative;
	margin: 0 -15px;

	.black_trans_bg {
		height: 30px;
		width: 1000px;
		text-align: center;
		position: absolute;
		top:0;
		p {
			color: #fff;
		}
	}

	.heading {
		font-size: 60px;
		font-weight: bold;
		color: #fff;
		position: absolute;
		top: 40px;
		width: 100%;
		text-align: center;
	}
}

#with_less_container {

	margin-bottom: 40px;

	&>.heading {
		margin-top: 10px;
		font-size: 54px;
		color: #99C455;

	}
}

#more_benefit_container {
	padding: 0 10px;
	background-color: #F7F6F0;
	@include border-radius(5px);
	border: 1px solid #4d4235;
	display: none;

	&>.heading {
		border-bottom: 1px dashed #4d4235;
	}
}

#transaction_flow_container {
	margin-bottom: 40px;

	.background_container {
		width: 100%;
		height: 550px;
		position: relative;
		background: #fff url('../../oneplus_ui_2/03. +CSS/img/transaction_flow_diagram.png') no-repeat center;
		background-size: 600px;
		border: 1px solid #ccc;
		@include border-radius(5px);
		@include box-shadow(3px 3px 5px rgba(0,0,0,0.1));
	}

	.transaction_step {
		position: absolute;
		width: 190px;

		p {
			font-size: 14px;
			color: #fff;
			padding: 5px 10px;
			min-height: 170px;
			display: none;
			opacity: 0.9;
		}

	}

	.transaction_step.find_item {
		top: 0;
		left: 40px;

		.heading {
			display: inline-block;
			background-color: #26B1BF;

			color: #fff;
			padding: 0 10px;

			i {
				vertical-align: middle;
				font-size: 16px;
			}
		}

		p {
			width: 150px;
		}
	}

	.transaction_step.post_item {
		top: 0;
		left: 220px;

		.heading {
			display: inline-block;
			background-color: #F4D242;
			color: #fff;
			padding: 0 10px;

			i {
				vertical-align: middle;
				font-size: 16px;
			}
		}

		i.foundicon-right-arrow {
			position: absolute;
			font-size: 32px;
			top: 180px;
			left: 150px;
		}

		p {
			width: 150px;
		}
	}

	.transaction_step.request {
		top: 40px;
		left: 440px;

		i.foundicon-down-arrow {
			position: absolute;
			font-size: 32px;
			top: 250px;
			left: 90px;
		}
	}

	.transaction_step.pickup {
		top: 310px;
		left: 350px;

		i.foundicon-left-arrow {
			position: absolute;
			font-size: 32px;
			top: 10px;
			left: -80px;
		}
	}
	.transaction_step.return {
		top: 310px;
		left: 70px;
	}

}

#feature_container {

	.catogory_heading {
		background-color: #eee;
		color: #696969;
		padding: 0 5px;
		@include border-radius(2px);
	}

	.feature {
		margin-top: 40px;

		.feature_icon {
			width: 22px;
			margin-right: 10px;
		}
	}

}

#news_feed_list {
	height: 1300px;
	background-color: #f2f2f2;
	padding: 20px;


	.news {
		border-bottom: 1px solid #fff;

		.time_stamp {
			margin: 0;
		}

		p {
			font-size: 14px;
		}
	}
}

#signup_container {

	margin-top: 40px;
	.heading {
		text-align: center;

		.funsha_logo {
			height: 70px;
			position: relative;
			bottom: 8px;
			margin: 0 10px;
		}
	}

}

#signup_email_input {
	width: 350px;
	display: inline-block;
}